<a href="https://colab.research.google.com/github/kasatkinkv/Netology/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%8F%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
df=pd.read_csv("Info.csv")
df.head()

       Отметка времени Месяц операции  ... Регулярная трата  Месяц (дата)
0  12/14/2021 23:14:39    январь 2021  ...             ЛОЖЬ     .Jan.2021
1  12/14/2021 23:21:42   февраль 2021  ...           ИСТИНА     .Feb.2021
2  12/14/2021 23:22:18      март 2021  ...           ИСТИНА     .Mar.2021
3  12/14/2021 23:23:06      март 2021  ...             ЛОЖЬ     .Mar.2021
4  12/14/2021 23:23:31    апрель 2021  ...           ИСТИНА     .Apr.2021

[5 rows x 10 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Отметка времени             50 non-null     object
 1   Месяц операции              50 non-null     object
 2   Название операции           50 non-null     object
 3   Сумма                       50 non-null     float64
 4   Категория                   50 non-null     object
 5   Основное значение операции  20 non-null     object
 6   Уточняющая информация       14 non-null     object
 7   Unnamed: 7                  6 non-null      object
 8   Регулярная трата            21 non-null     object
 9   Месяц (дата)                50 non-null     object
dtypes: float64(1), object(9)
memory usage: 4.0+ KB

In [9]:
df.describe()

              Сумма
count     50.000000
mean    8257.920000
std    12698.584134
min      300.000000
25%     1500.000000
50%     3506.000000
75%     8150.000000
max    52000.000000

In [10]:
df[["Категория","Сумма"]].groupby(["Категория"]).sum()

                         Сумма
Категория
Автомобиль             19552.0
Другое                135000.0
Здоровье               54500.0
Коммунальные платежи   31450.0
Кредиты                17524.0
Образование            58650.0
Одежда                 30300.0
Питание                 6170.0
Подарки                44000.0
Развлечения            15750.0

In [14]:
df1=df[["Категория","Сумма"]].groupby(["Категория"]).sum()

In [15]:
df1.sort_values("Сумма",ascending=False)
#сортировка по убыванию

                         Сумма
Категория
Другое                135000.0
Образование            58650.0
Здоровье               54500.0
Подарки                44000.0
Коммунальные платежи   31450.0
Одежда                 30300.0
Автомобиль             19552.0
Кредиты                17524.0
Развлечения            15750.0
Питание                 6170.0