In [ ]:
import pandas as pd
df=pd.read_csv("Info.csv")
df

        Отметка времени Месяц операции  ... Регулярная трата  Месяц (дата)
0   12/14/2021 23:14:39    январь 2021  ...             ЛОЖЬ     .Jan.2021
1   12/14/2021 23:21:42   февраль 2021  ...           ИСТИНА     .Feb.2021
2   12/14/2021 23:22:18      март 2021  ...           ИСТИНА     .Mar.2021
3   12/14/2021 23:23:06      март 2021  ...             ЛОЖЬ     .Mar.2021
4   12/14/2021 23:23:31    апрель 2021  ...           ИСТИНА     .Apr.2021
5   12/14/2021 23:23:56       май 2021  ...           ИСТИНА     .May.2021
6   12/14/2021 23:24:34      июнь 2021  ...             ЛОЖЬ     .Jun.2021
7   12/14/2021 23:25:34      июль 2021  ...             ЛОЖЬ     .Jul.2021
8   12/14/2021 23:26:13  сентябрь 2021  ...             ЛОЖЬ     .Sep.2021
9   12/14/2021 23:26:46    август 2021  ...             ЛОЖЬ     .Aug.2021
10  12/14/2021 23:27:25   октябрь 2021  ...             ЛОЖЬ     .Oct.2021
11  12/14/2021 23:27:48    ноябрь 2021  ...             ЛОЖЬ     .Nov.2021
12  12/14/2021 23:28:14   декабрь 2021  ...             ЛОЖЬ     .Dec.2021
13  12/14/2021 23:29:06   февраль 2021  ...           ИСТИНА     .Feb.2021
14  12/14/2021 23:30:14    апрель 2021  ...             ЛОЖЬ     .Apr.2021
15  12/14/2021 23:31:04    август 2021  ...             ЛОЖЬ     .Aug.2021
16  12/15/2021 14:23:52   декабрь 2021  ...             ЛОЖЬ     .Dec.2021
17  12/15/2021 14:47:48  сентябрь 2021  ...           ИСТИНА     .Sep.2021
18  12/15/2021 15:34:30      июнь 2021  ...             ЛОЖЬ     .Jun.2021
19   12/16/2021 0:58:24  сентябрь 2021  ...             ЛОЖЬ     .Sep.2021
20  12/25/2021 15:26:55    ноябрь 2021  ...             ЛОЖЬ     .Nov.2021
21  12/25/2021 15:31:09      март 2021  ...              NaN     .Mar.2021
22  12/25/2021 15:31:40   декабрь 2021  ...              NaN     .Dec.2021
23  12/25/2021 15:31:59    август 2021  ...              NaN     .Aug.2021
24  12/25/2021 15:32:20      июль 2021  ...              NaN     .Jul.2021
25  12/25/2021 15:33:12   октябрь 2021  ...              NaN     .Oct.2021
26  12/25/2021 15:33:48    ноябрь 2021  ...              NaN     .Nov.2021
27  12/25/2021 15:34:05   декабрь 2021  ...              NaN     .Dec.2021
28  12/25/2021 15:47:08  сентябрь 2021  ...              NaN     .Sep.2021
29  12/25/2021 15:47:41   октябрь 2021  ...              NaN     .Oct.2021
30  12/25/2021 15:47:56    ноябрь 2021  ...              NaN     .Nov.2021
31  12/25/2021 15:48:10   декабрь 2021  ...              NaN     .Dec.2021
32  12/25/2021 15:49:13   октябрь 2021  ...              NaN     .Oct.2021
33  12/25/2021 15:49:33    апрель 2021  ...              NaN     .Apr.2021
34  12/25/2021 15:49:51    август 2021  ...              NaN     .Aug.2021
35  12/25/2021 15:50:27   октябрь 2021  ...              NaN     .Oct.2021
36  12/25/2021 15:50:52   декабрь 2021  ...              NaN     .Dec.2021
37  12/25/2021 15:51:12    апрель 2021  ...              NaN     .Apr.2021
38  12/25/2021 15:52:07   февраль 2021  ...              NaN     .Feb.2021
39  12/25/2021 15:52:42      июль 2021  ...              NaN     .Jul.2021
40  12/25/2021 15:53:01    август 2021  ...              NaN     .Aug.2021
41  12/25/2021 15:53:29  сентябрь 2021  ...              NaN     .Sep.2021
42  12/25/2021 15:53:52   декабрь 2021  ...              NaN     .Dec.2021
43  12/25/2021 15:55:02    август 2021  ...              NaN     .Aug.2021
44  12/25/2021 15:56:36   декабрь 2021  ...              NaN     .Dec.2021
45  12/25/2021 15:57:22    ноябрь 2021  ...              NaN     .Nov.2021
46  12/25/2021 15:58:32   октябрь 2021  ...              NaN     .Oct.2021
47  12/25/2021 15:59:06    август 2021  ...              NaN     .Aug.2021
48  12/25/2021 15:59:34      июль 2021  ...              NaN     .Jul.2021
49  12/25/2021 16:00:01    январь 2021  ...              NaN     .Jan.2021

[50 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Отметка времени             50 non-null     object
 1   Месяц операции              50 non-null     object
 2   Название операции           50 non-null     object
 3   Сумма                       50 non-null     float64
 4   Категория                   50 non-null     object
 5   Основное значение операции  20 non-null     object
 6   Уточняющая информация       14 non-null     object
 7   Unnamed: 7                  6 non-null      object
 8   Регулярная трата            21 non-null     object
 9   Месяц (дата)                50 non-null     object
dtypes: float64(1), object(9)
memory usage: 4.0+ KB

In [ ]:
df.describe()

              Сумма
count     50.000000
mean    8257.920000
std    12698.584134
min      300.000000
25%     1500.000000
50%     3506.000000
75%     8150.000000
max    52000.000000

In [ ]:
df[["Категория","Сумма"]].groupby(["Категория"]).sum()

                         Сумма
Категория
Автомобиль             19552.0
Другое                135000.0
Здоровье               54500.0
Коммунальные платежи   31450.0
Кредиты                17524.0
Образование            58650.0
Одежда                 30300.0
Питание                 6170.0
Подарки                44000.0
Развлечения            15750.0

In [ ]:
df1=df[["Категория","Сумма"]].groupby(["Категория"]).sum()

In [ ]:
df1.sort_values("Сумма",ascending=False)

                         Сумма
Категория
Другое                135000.0
Образование            58650.0
Здоровье               54500.0
Подарки                44000.0
Коммунальные платежи   31450.0
Одежда                 30300.0
Автомобиль             19552.0
Кредиты                17524.0
Развлечения            15750.0
Питание                 6170.0